{
  "plugins": [
    "@babel/transform-runtime",
    "@babel/syntax-dynamic-import"
  ],
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        },
        "shippedProposals": true
      }
    ],
    "@babel/preset-flow",
    "@babel/react"
  ]
}